section.container {
    width: 70vw;
    height: 100vh;
    margin: 0 auto;
    border: 1px solid black;
    font-family: Avenir, Helvetica, Arial, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .generate-box {
        display: flex;
        gap: 10px;

        .inputs {
            display: flex;
            flex-direction: column;
            gap: 5px;

            label {
                display: flex;
                justify-content: space-between;
                gap: 10px;
            }
        }

        button#generate.myBtn {
            background-color: pink;
        }
    }

    #output {
        overflow: auto;
        max-width: 90vw;
        max-height: 60vh;


        .table {
            display: flex;
            flex-direction: column;
            border: 1px solid black;
        }

        .row {
            display: flex;
            flex-direction: row;
            &:first-child, &:last-child {
                background-color: lightblue;
                .cell { background-color: lightblue; }
                }

            &:hover {
                background-color: yellow;
            }
        }
        .col {
            display: flex;
            flex-direction: row;
            &:first-child, &:last-child {
                background-color: lightblue;
                .cell { background-color: lightblue; }
            }

            &:hover {
                background-color: yellow;
            }
        }


        .cell {
            width: 2vw;
            height: 2vw;
            border: 1px solid black;
            padding: 5px;
            text-align: center;
            display: flex;
            flex-direction: column;

            &:first-of-type,
            &:last-of-type {
                background-color: lightblue;
            }

            &.highlight {
                background-color: darkred;
                color: white;
            }

            &:hover {
                background-color: yellow;

            }
        }
    }
}
