section.container {
    width: 70vw;
    height: 100vh;
    margin: 0 auto;
    border: 1px solid black;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .generate-box {
        display: flex;
        gap: 10px;

        .inputs {
            display: flex;
            flex-direction: column;
            gap: 10px;

            label {
                display: flex;
                gap: 10px;
                justify-content: space-between;
            }
        }

        button.myBtn {
            background-color: pink;
        }
    }

    #output {
        overflow: scroll;
        max-width: 90vw;
        max-height: 60vh;
        display: block;

        .table {
            display: flex;
            flex-direction: column;
            width: max-content;
            border-collapse: collapse;
        }
    }

    .row {
        display: flex;
    }

    .cell {
        flex: 1;
        border: 1px solid black;
        text-align: center;
        padding: 4px;
    }

    .cell.highlight {
        background-color: darkred;
        color: white;
    }

    .row:hover .cell {
        background-color: yellow;
    }

    .column:hover .cell {
        background-color: yellow;
    }

}








